.search {
  margin-right: 40px;
  display: flex;
  margin-top: 30px;
}

.searchInput {
  position: relative;
  display: flex;
  align-items: center;
}

input[type="text"] {
  width: 650px;
  height: 35px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.searchBtn {
  background-color: #02c385;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  height: 35px;
}

.searchBtn:hover {
  opacity: 0.8;
}

.clearBtn {
  position: absolute;
  margin-left: 57%;
  background-color: #ff4f4b;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 40%;
  cursor: pointer;
  height: 15px;
  width: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8px;
  font-weight: bold;
}

.clearBtn:hover {
  opacity: 0.8;
}

.help-image{
  width:90px;
  margin-left: 60px;
}

.cart-image{
  width:150px;
  margin-left: 90px;
}