.sidebar {
    background-color: #2b4047; 
    width: 40px; 
    height: 100vh;
    padding: 20px; 
    position: fixed;
    border-right: solid 1px white;
    z-index: 100;
    flex-direction: column;
    top: 0px;
    /* Add other relevant styles for the sidebar */
  }
  
  
  @media (max-width: 768px) {
    .sidebar {
      width: 100%; /* Adjust the width for mobile devices */
      height: auto;
      position: relative;
    }
  }
  