.checkout-form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    color: white;
    font-family: "Montserrat", sans-serif;
  }
  
  .form-title {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: "Montserrat", sans-serif;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-label {
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }
  
  .form-input {
    width: 100% !important;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .checkbox-label {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
  }

  .checkout-title-icon {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 2rem;
  }

  .error-message {
    color: red;
    position: relative;
    top: -25px;
  }
  
  .checkbox-input {
    margin-right: 8px;
    font-family: "Montserrat", sans-serif;
  }
  
  .submit-button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submit-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .checkout-info {
    margin-top: 40px;
    font-family: "Montserrat", sans-serif;
  }
  
  .info-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-family: "Montserrat", sans-serif;
  }
  
  .info-icon {
    position: relative;
    bottom: -20px;
    font-size: 3rem;
    margin-bottom: 10px;
  }
  
  .info-text {
    margin: 0;
    font-family: "Montserrat", sans-serif;
  }

  .receipt {
    margin-top: 20px;
    padding: 20px;
    background-color: peachpuff;
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
  }
  
  .receipt-title {
    margin-bottom: 10px;
    font-weight: bold;
    color: #02c385;
    text-align: center;
  }
  
  .receipt-label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .receipt-value {
    margin: 0;
  }
  
  .receipt-items {
    list-style: none;
    padding: 0;
  }
  
  .receipt-items li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
  }
  
  .item-info {
    flex: 1;
  }
  
  .item-name {
    font-weight: bold;
  }
  
  .item-quantity {
    color: #888888;
    font-size: 14px;
  }
  
  .item-price {
    font-weight: bold;
  }
  
  .receipt-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  
  
 
  