/* .sub-navbar {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 10px;
  }
  
  .sub-navbar-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:transparent;
  }
  
  .sub-navbar-hamburger {
    /* Styles for the hamburger icon */
  /* }
  
  .sub-navbar-link {
    margin-left: 10px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
  }
   */ 