.categories{
  gap: 120px;
}
.sub-navbar {
  position: sticky;
  width: 100%;
  height: 60px;
  background-color: transparent;
  z-index: 1000;
  top: 0;
  transition: background-color 0.3s ease-in-out;
  margin-left: 20px;
  margin-top: 20px;
  
}

.sub-navbar.open {
  background-color: #f7f7f7;
}

.sub-navbar-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 20px;
  margin-right: 80px;
}

.sub-navbar-hamburger {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  height: 16px;

}

.hamburger span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: gray;
  transition: transform 0.3s ease-in-out;
  margin-left: -40px;
}

.hamburger.open span:first-child {
  transform: translateY(6px) rotate(45deg);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:last-child {
  transform: translateY(-6px) rotate(-45deg);
}

.sub-navbar-links {
  display: flex;
  align-items: center;
  height: 100%;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

.sub-navbar-links.open {
  opacity: 1;
}

.sub-navbar-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.sub-navbar-links ul li {
  margin-right: 10px;
}

.sub-navbar-links ul li button {
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: #000000;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.sub-navbar-links ul li {
  position: relative;
}

.sub-navbar-links ul li::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: transparent;
  transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.sub-navbar-links ul li:hover::after {
  width: 100%;
  background-color: #02c385; 
}

